.option-btn{
    background-color:orange;
    padding: 15px;
    /* color: white; */
    border-radius: 30px;
    margin-top: 4px;
    cursor: pointer;
    
};

.option-btn:hover{
    background-color:rgb(108, 17, 177) ;
}

.correct{
    background-color: green;
}
.wrong{
    background-color: rgb(186, 10, 10);
}